.box{
    margin-left: 20%;
 max-width: 80%;
}

.boxe{
    margin-top: -350px;
    margin-left: 500px; 
    width: 80%;
    text-align: center;
}

.boxe .btn{
    width: 40%;
    margin-left: 200px;
}

.boxe .tittre{
    font-size: 30px;
    font-weight: 400;
}

i,a{
    text-decoration: none;
  color: #fff;
}
a:hover{
    color:#fff 
}

.dashliste{
    margin-left: 450px;
    margin-bottom: 20px;
    font-weight: 600;
    font-style: italic;

}

.dashliste i{
    color: rgba(0, 0, 0, 0.3);
}
.cardy{
    font-weight: 600;
    font-size: 20px;
    text-align: center;
   
    color: Azure;
}

.conteneeur{
    margin-left: 270px;
   position: relative;
    top: -300px;
}

div.row.ok{
    top: 0;
    position: absolute;
    margin: 100px 0px 50px 0;
   width: 70%;
   margin-left: 180px;
   
}
div.row.ok .boutton{
    margin-bottom: 20px;
}



.formCateg{
   
    padding-left: 350px;
    padding-top: 50px;
    padding-bottom: 50px;
   
    
}

.formCateg input{
    height: 45px;
    width: 800px;
}



.formUser{
  
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    left: -200px;
}

.formUser input{
    height: 45px;
    width: 500px;
}


