.forma,.form-group{
    margin-left: 150px;
}

.form-group{
    padding:8px 0;
    border: none;
    display:flex;
    flex-direction: column;
    width: 80%;
 
  
}
input{
  
    border-bottom: 1px solid rgba(0,0,0,0.3);
    outline: none;
}
h2{
    color: black;
    font-weight: 600;
    font-size: 50px;
}

.marge{
    position: relative;
    top: -200px;
}

.text-btn{
color: #fff;
}
.text-btn:hover{
    color: #fff;
}
.text-card{
  
    color: grey;
}