@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Roboto', sans-serif;
    background-color: #DCDCDC;
  
}
.flexSB{
  display: flex;
  justify-content: space-between;
}
.head {
  
    padding: 20px 30px;
    color: #000;
  }

  .head .logo{
    display: inline-block;
  }
  .head .search{
    display: inline-block;
      margin-left: 40px;
        width: 45%;
       
        position: absolute;
      
      }
.head .connexion{
      display: inline-block;
   position: absolute;
    margin-left: 900px;
    }
.logo h1 {
   
    font-size: 28px;
    font-weight: 900;
  }
  
.head .container{
    padding: 15px 15px;
   
}



header{
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0 30px;
  }

header ul{
    padding: 20px 20px;
}
header li{
    margin-right: 40px;
  }
header ul li a{
    color: #1eb2a6;
    text-decoration: none;
    font-weight: 700;
    transition: 0.5s;

  
}

header ul li a:hover {
    color: black;
  }

li{
  list-style-type: none;
  letter-spacing: normal;
  }


  button{
    border: none;
  }

  .start {
    position: right;
    font-weight: 600;
    background-color: #1eb2a6;
    padding: 30px 70px;
    color: #fff;
    clip-path: polygon(10% 0%, 100% 0, 100% 100%, 0% 100%);
  }

  .toggle{
    display: none;
  }

  @media screen and (max-width: 768px) {
    div.logo{
 font-size: small;
 display: block;
margin-left: -35px;
    }
    .logo h1{
      font-size: 15px;
      margin-left: 0;
    }
     
   .head .search{
    display: block;
      right: 0px;
      margin-right:190px;
     
    }
   .head .connexion{
    left: 0px;
    margin-left: 390px;}
   .head .connexion .inscri {
    margin-top: 3px;
    margin-left: 12px;
    display: block;
    }
    .start{
      clip-path: none;
    }
    header{
      margin : 0;
      background-color: #1eb2a6;
      position: relative;
    }
    header ul li a{
      color: #fff;}
    header ul.flexSB {
      display: none;
      
    }
   
    header ul li{
    
      margin-top: 15px;
      
    }
    .toggle{
      display: block;
      background: none;
      font-size: 30px;
     
      margin-top: 10px;
      margin-bottom: 10px;
      margin-right: 10px;
      right: 0;
      position: relative;
      color: #fff;
      border-color: #fff;
    }
    .mobile-nav{
      position: absolute;
      top: 7vh;
      left: 0;
      width: 100%;
      background-color: #1eb2a6;

    }
    
  }



.back{
  background-image: url("https://images.unsplash.com/photo-1656087816715-20f018c33a9b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDEwMnxhZXU2ckwtajZld3x8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60");
padding-top: 30%;
padding-right: 50px;
  background-size:cover;
background-attachment: fixed;
position: absolute;
top: 0;
left: 0;
z-index: -1;
width: 100%;
height: 100vh;
text-align: center;

color: #fff;
}

.back h1{
  font-size:90px;
  font-weight: 400;

}
.back h2{
  font-weight: 500;
  font-size: 17px;
  text-transform: uppercase;

}

.marigin{
  margin-top: 35%;
}

#heading{
   text-align: center;
   padding: 50px 0;

}

#heading h3{
  font-weight: 500;
  letter-spacing: 1px;
  color: #1eb2a6;
  text-transform: uppercase;
}

#heading h2{
  font-size: 30px;
  margin: 20px 0;
  color: #fff;
  
}